
html, body {
    height:100%;
    min-height:100%;
    margin:0;
    font-family:system-ui,Segoe UI,Roboto,Arial;
    background:#4C1D20;
    color:#0b1220;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "DM Mono", monospace;
}

.board {
    width:100%;
    height:400px;
    border-radius:8px;
    background:linear-gradient(180deg,#0b1220,#07101a);
    display:flex;
    align-items:center;
    justify-content:center;
    box-shadow:0 6px 18px rgba(2,6,23,0.08);
}

canvas {
    border-radius:6px;
    background:transparent;
}

.hidden { display: none; }
.correct { background-color: green; }
.incorrect { background-color: red; }

.quiz-container {
    display: flex;
    justify-content: center;     
    align-items: stretch;      
    max-width: 1200px;
    margin: 40px auto;            
    gap: 20px;
    width: 100%;                 
}

.info-box {
    width: 250px;
    height: auto;
    background: #693D40;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.15);
}
.info-box h1 {
    font-size:20px;
    margin-bottom:10px;
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-weight: 800;
}

.map-wrapper {
    position: relative;
    flex: 1;
    background: #693D40;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.15);
}

.map-wrapper img {
    width: 100%;
    display: block;
    border-radius: 8px;
}

.map-button {
    position: absolute;
    padding: 6px 8px;
    font-size: 14px;
    border: none;
    border-radius: 50%;
    background: #ffcc00;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    transform: translate(-50%, -50%);
}

.modal {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    text-align: center;
}

.modal-content button {
    margin-top: 10px;
}
.site-footer {
    margin-top:auto;
}