html {
    font-family: 'DM Mono', monospace;
}

html,
* {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: sans-serif;
}

main {
    padding: 30px;
    position: relative;
}

#game-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 40px 30px;
    width: 600px;
    min-height: 650px;
    justify-content: space-between;
    background: linear-gradient(rgb(23, 162, 217), rgb(61, 3, 92));
    border-radius: 10px;
    gap: 18px;
    position: relative;
}

.game-container-overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(23, 162, 217), rgb(61, 3, 92));
    opacity: 0.8;
    border-radius: 10px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    display: none;
}

.centered-score {
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 1;
}

#new-game {
    z-index: 2;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#game-buttons {
    display: flex;
    width: 100%;
    justify-content: stretch;
    align-items: center;
    gap: 18px;
}

#flags {
    display: inline-flex;
    width: 40%;
    flex-direction: column;
    gap: 12px;
}

#country-names {
    display: inline-flex;
    width: 60%;
    flex-direction: column;
    gap: 12px;
}

.game-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 210px;
    min-height: 60px;
    padding: 10px;
    background-color: #2a1a1a;
    /* border: 1px #777 solid; */
    border-radius: 8px;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    /* box-shadow: inset 0 2px 3px rgb(136, 89, 92); */
    position: relative;

    img {
        border: 1px #555 solid;
        border-radius: 3px;
        height: 40px;
    }
}

.green-btn {
  padding: 18px 22px;
  border-radius: 8px;
  color: black;
  background-color: var(--bright-green);
}

.black-btn {
  padding: 18px 22px;
  border-radius: 8px;
  background-color: #121212;
}

.game-btn:hover {
    filter: brightness(1.5);
}

.game-btn:hover {
    cursor: pointer;
}

.active-btn {
    background-color: var(--lighter-red);
}

.no-match {
    background-color: red;
    animation: not-matching 1.2s ease-out .3s forwards;
    transition: .15s;
}

.matched {
    color: #222;
    background-color: var(--bright-green);
    opacity: 0.8;
    animation: matching 1s .8s forwards;
    transition: .3s;

    img {
        opacity: 0.3;
    }
}

.matched:hover {
    cursor: default;
    filter: none;
}

.country {
    font-family: 'DM Sans', sans-serif;
}

#character-img {
    width: 200px;
    right: 10%;
    bottom: 0;
    position: absolute;
}

/* ---------- Animations ---------- */

@keyframes matching {
    0% {
        color: #222;
        background-color: var(--bright-green);
    }

    100% {
        color: #888;
        background-color: #444;
        opacity: 0.5;
    }
}

@keyframes not-matching {
    0% {
        background-color: red;
    }

    100% {
        background-color: var(--darker-red);
    }
}