html {
    font-family: 'DM Mono', monospace;
}

html, * {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: sans-serif;
}

#game-container {
    margin: 0 auto;
    display: flex;
    width: 400px;
    height: 500px;
    justify-content:space-between;
    align-items: center;
}

#flags {
    display: inline-flex;
    flex-direction: column;
}

#country-names {
    display: inline-flex;
    flex-direction: column;
}

/* #country-names div::before {
    content: "";
    width: 150px;
    height: 60px;
    background-color: rgba(200, 255, 230, 0.5);
    border-radius: 8px;
    position: absolute;
    top: -1px;
    right: -1px;
    z-index: -1;
} */

#flags div, #country-names div {
    margin: 4px;
    width: 150px;
    height: 60px;
    padding: 18px;
    border: 2px #bbb solid;
    border-radius: 8px;
    text-align: center;
    position: relative;
    z-index: 0;
}

.active {
    background-color: rgba(200, 255, 230, 0.5);
}

#flags div::after, #country-names div::after {
    content: "";
    width: 150px;
    height: 60px;
    border-radius: 8px;
    position: absolute;
    top: -1px;
    right: -1px;
}

#flags div:hover::after, #country-names div:hover::after {
    background-color: rgba(220, 220, 220, 0.3);
}

#flags div:hover, #country-names div:hover {
    cursor: pointer;
}