body {
display: flex;
flex-direction: column;
min-height: 100vh;
background: #4C1D20;
font-family: "DM Mono", monospace;
}

main, .quiz-container {
flex: 1 0 auto;
}

footer {
flex-shrink: 0;
}

.board {
    width:100%;
    height:400px;
    border-radius:8px;
    background:linear-gradient(180deg,#0b1220,#07101a);
    display:flex;
    align-items:center;
    justify-content:center;
    box-shadow:0 6px 18px rgba(2,6,23,0.08);
}

canvas {
    border-radius:6px;
    background:transparent;
}

.hidden { display: none; }
.correct { background-color: green; }
.incorrect { background-color: red; }

.quiz-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;     
    padding-bottom: 70px;
    align-items: stretch;      
    max-width: 1200px;
    margin: 40px auto;            
    gap: 20px;
    width: 100%;                 
}

.info-box {
    width: 350px;
    height: auto;
    background: #693D40;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.15);
}
.info-box h1 {
    font-size:20px;
    margin-bottom:10px;
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-weight: 800;
}

.map-wrapper {
    position: relative;
    flex: 1;
    background: #693D40;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.15);
    max-width: 1000px; 
    margin: 0 auto;    
}

.map-wrapper img {
    width: 100%;
    display: block;
    border-radius: 8px;
}

.map-button {
    position: absolute;
    padding: 6px 8px;
    font-size: 14px;
    border: none;
    border-radius: 50%;
    background: #1AFF8C;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
    .map-button {
        font-size: 12px;
        padding: 4px 6px;
    }
}

.modal {
    position: fixed;
    top: 150; left: 50;
    width: 100%; 
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #693D40;
    padding: 20px;
    width: 700px;
    border-radius: 8px;
    text-align: center;
    color: white;
}

.btn-primary {
    margin-top: 10px;
    background-color: #1AFF8C;
    border-color: #1AFF8C;
    color: black;
}

.btn-primary:hover {
    background-color: #000;     
    border-color: #000;
    color: #fff;
}

.btn-primary:active,
.btn-primary:focus {
    background-color: #552E34 !important;
    border-color: #552E34 !important;
    box-shadow: none !important;
}

button:focus,
.btn:focus {
    box-shadow: none !important;
}

.answer-info {
    background-color: #693D40;   
    color: #fff;
    padding: 15px;
    margin-top: 18px;
    border-radius: 10px;
    border: 2px solid #1AFF8C;
    line-height: 1.4;
    font-size: 1rem;
}


.site-footer {
    margin-top:auto;
}