.game2-mainpage {
    max-width: 100%;
}
.game2-mainpage h1 {
    text-align: center;
    font-size: 3rem;
    margin: 0.6rem;
    padding: 1rem;
}
.game2-mainpage h3 {
    text-align: center;
    margin: 0 auto;
    padding: 0.5rem;
    text-decoration: underline;
}
.game2-mainpage p {
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
    line-height: 1.5em;
}
.game2-gamebox {
    width: 25rem;
    height: 30rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
    justify-content: center;
    align-items: center;
}
.game2-box-row {
    display: flex;
}

/* Tiles where you see the letters player inputs */
.game2-letterbox {
    /* box borders */
    border: 2px solid #693D40;
    width: 3rem;
    height: 3rem;
    margin: 0.14rem;
    padding: 1rem;
    box-sizing: border-box;

    /* Input text */
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Keyboard */
.game2-keyboard {
    justify-content: center;
    align-items: center;
}
.game2-keyboardRow {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center
}
.game2-keyboard-box {
    border: 1px solid #693D40;
    width: 2.3rem;
    height: 2.3rem;
    margin: 0.3rem;
    padding: 1rem;
    box-sizing: border-box;

    color: white;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.game2-keyboard-wide {
    border: 1px solid #693D40;
    width: 5.25rem;
    height: 2.3rem;
    margin: 0.3rem;
    padding: 1rem;
    box-sizing: border-box;

    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



/* Checked tiles. .correct is correct letter and place. .inword is correct letter, wrong place. .incorrect means, there is no this letter in word */
.correct {
    background-color: #1dc507;
    color: black;
    font-weight: bold;
    border: 2px solid #1dc507;
}

.inword {
    background-color: #d9ff00;
    color: black;
    text-decoration: underline;
    border: 2px solid #d9ff00;
}

.incorrect {
    background-color: #707070;
    color: rgb(46, 46, 46);
    text-decoration: line-through;
}

/* Boxes with special characters, which autofill */
.no-fill {
    background-color: #222222;
    border: 2px solid #222222;
}

/* Answer text block */
#answer {
    display: block;
    padding: 3em;
    justify-items: center;
    align-items: center;
}

/* Refresh button */
.rfs_btn{
    display: block;
    border: 2px solid #1dc507;
    justify-items: center;
    align-items: center;
    padding: 2rem;
    margin: 1rem;
}
.rfs_btn:hover {
    background-color: #1dc507;
    color: black;
}
/* Cat gif */
.cat_gif{
    height: 14rem;
    margin: 1rem;
}

@media (max-width: 600px) {
.game2-gamebox {
    height: auto;
}
.game2-mainpage h1 {
    font-size: 2rem;
    }
.game2-letterbox {
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
    padding: 1rem;
}
.game2-keyboard-box {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
}
.game2-keyboard-wide {
    width: 5rem;
    height: 2rem;
    font-size: 15px;
}
.rfs_btn{
    padding: 1rem;
    margin: 0.5rem;
}
.cat_gif{
    height: 10rem;
    margin: 1rem;
}
}

@media (max-width: 515px) {
    .game2-mainpage h1 {
        font-size: 2rem;
    }
    .game2-mainpage p {
        font-size: 0.9rem;
}
/* Sivuun tehty muutos, niin että koko sana pystytään rullaamaan pitkissä sanoissa. Tämä vain tekee boksit pois keskitetystä pienissä sanoissa. */
    .game2-gamebox{
        overflow-x: auto;
        justify-content: start;
        width: 20rem;
        padding: 2em 0 2em 0;
}
    .game2-keyboard {
        width: 100%;
}
    .game2-keyboard-box {
        width: 0.35rem;
        height: 0.35rem;
        font-size: 0.9rem;
        margin: 0;
        justify-content: center;
        margin: 0.05rem;
}
    .game2-keyboard-wide {
        width: 3rem;
        height: 1rem;
        font-size: 12px;
        margin: 0;
}
    .rfs_btn{
        padding: 1rem;
        margin: 0.5rem;
}
    .cat_gif{
        height: 10rem;
        margin: 1rem;
}
}

@media (max-width: 400px) {
    .game2-mainpage h1 {
        font-size: 1.5rem;
    }
    .game2-keyboard-box {
        width: 0.2rem;
        height: 0.2rem;
        font-size: 0.8rem;
        padding: 0.9rem;
        margin: 0.05rem;
}
    .game2-keyboard-wide {
        width: 3rem;
        height: 0.2rem;
        font-size: 0.8rem;
        margin: 0.05rem;
        padding: 0.9rem;
}
}