
#title {
  display: flex;
  flex-direction: column;
  align-items: center;     
  justify-content: center; 

  font-size: 1.4rem;

  text-align: center;
  margin: 2rem auto;

  max-width: 800px;
  padding: 1rem;
}
.captcha-box {
  background: #ffffff;
  width: 380px;
  padding: 20px 22px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}

.game1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  margin: 40px auto;
  max-width: 1200px;
  padding: 20px;
}


#Questions {
  width: 300px;
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
  background: #3A1417;
  padding: 20px;
  border-radius: 12px;
  line-height: 1.4;
}


.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);


  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#Picgrid {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.2s;
}
.captcha-img {
  width: 100%;
  height: 100%;

  object-fit: contain; 
  background-color: #0b0b0b;

  border-radius: 8px;
  border: 2px solid transparent;

  cursor: pointer;
  user-select: none;

  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease,
    transform 0.1s ease;
}

#Picgrid img.selected {
  border-color: #016af3;
  box-shadow: 0 0 10px rgba(26,255,140,0.6);
}

.captcha-img.correct {
  border-color: #1AFF8C;
  box-shadow: 0 0 10px rgba(26,255,140,1);
}

.captcha-img.wrong {
  border-color: #ff4d4d;
  box-shadow: 0 0 10px rgba(255,77,77,1);
}


.captcha-img:hover {
  background: rgba(255,255,255,0.1);
}


#captchaVerifyBtn {
  margin-top: 15px;
  width: 100%;
  padding: 10px 0;
  background: #1a73e8;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease;
}

#Submitbtn {
  margin-top: 15px;
  width: 100%;
  padding: 10px 0;
  background: #1a73e8;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease;
}

@media (max-width: 900px) {
  .game1 {
    flex-direction: column;
    align-items: center;
  }

  #Questions {
    width: 100%;
    text-align: center;
  }

  #Picgrid {
    width: 90vw;
    height: 90vw;
    max-width: 600px;
    max-height: 600px;
  }
}