

.captcha-box {
  background: #ffffff;
  width: 380px;
  padding: 20px 22px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}

.game1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  margin: 40px auto;
  max-width: 1200px;
  padding: 20px;
}


#Questions {
  width: 300px;
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
  background: #3A1417;
  padding: 20px;
  border-radius: 12px;
  line-height: 1.4;
}


.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);


  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#Picgrid {
  width: 600px;
  height: 600px;
  display: grid;


  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
}


.cell {
  width: 100%;
  height: 100px;
  border: 2px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
  background: rgba(255,255,255,0); 
}


.cell:hover {
  background: rgba(255,255,255,0.1);
}


.cell.selected {
  border-color: #1a73e8;
  background: rgba(26,115,232,0.2);
}

#captchaVerifyBtn {
  margin-top: 15px;
  width: 100%;
  padding: 10px 0;
  background: #1a73e8;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease;
}

#Submitbtn {
  margin-top: 15px;
  width: 100%;
  padding: 10px 0;
  background: #1a73e8;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease;
}

@media (max-width: 900px) {
  .game1 {
    flex-direction: column;
    align-items: center;
  }

  #Questions {
    width: 100%;
    text-align: center;
  }

  #Picgrid {
    width: 90vw;
    height: 90vw;
  }
}