@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

:root {
  --red: #4C1D20;
  --darker-red: #3A1417;
  --lighter-red: #693D40;
  --bright-green: #1AFF8C;
}

body {
  margin: 0;
  font-family: "DM Mono", monospace;
  background-color: var(--red);
  color: #ffffff;
}

@theme{
  --color-brightgreen: #1AFF8C;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DM Sans', sans-serif;
  line-height: 120%;
  font-weight: 600 !important;
}

p {
  color: #ccc;
}

button {
  padding: 16px 22px;
  border-radius: 8px;
  transition: .3s;
}

.green-btn {
  padding: 16px 22px;
  background-color: var(--bright-green);
  color: black;
}

.green-btn:hover {
  background-color: black;
  color: white;
}

.text-btn {
  padding: 0;
  background: none;
  color: #ccc;
  text-decoration: underline;
}

.text-btn:hover {
  color: white;
}

.heading-container {
  margin: 3rem auto 0 auto;
  width: 1050px;
  text-align: center;

  h1 {
    font-size: xx-large;
  }
}

.highlight{
  background-color: #1AFF8C40;
}

/* ---------- Main page username section ---------- */

#user-creation-container {
  margin-top: 50px;
  width: 1050px;
  display: flex;
  justify-self: center;
  justify-content: space-between;
  background-color: var(--lighter-red);
  border-radius: 10px;
  box-sizing: border-box;

  div {
    padding: 40px 48px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h2 {
    font-size: 36px;
  }

  button {
    width: 50%;
  }
}

.img-container-left {
  background-image: url(../img/mountain-and-flag.jpg);
  background-size: cover;
  border-radius: 10px 0px 0px 10px;
}

#username-form {
  display: flex;
  flex-direction: column;
  gap: 18px;

  label {
    margin-top: 18px;
  }

  div {
    width: 70%;
    padding: 0;
  }

  input {
    margin-bottom: 18px;
    padding: 16px 22px;
    width: 100%;
    display: block;
    border-radius: 8px;
    color: black;
    font-size: 16px;
  }

  button {
    width: 100%;
  }
}

#user-info-container {
  margin-top: 50px;
  width: 1050px;
  display: flex;
  justify-self: center;
  background-color: var(--lighter-red);
  border-radius: 10px;
  box-sizing: border-box;

  div {
    padding: 40px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
  }

  h2 {
    font-size: 28px;
  }
}

.width-30 {
  width: 30%;
}

.width-70 {
  width: 70%;
}

.smaller-container {
  max-width: 900px;
}

#avatar {
  margin: 0 12px;
  width: 160px;
  height: 160px;
  display: inline-flex;
  align-self: flex-end;
  background-color: pink;
  border-radius: 200px;
  transform: scale(1.2);

  img {
    padding: 26px;
  }
}

/* Infopage's css */
.info-mainpage {
  display: grid;
  max-width: 1050px;
  margin: 0 auto;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  background-color: #4C1D20;
  color: white;
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
  grid-template-areas:
    '. title title title title .'
    '. picture text text text .'
    '. picture text text text .'
    '. picture text text text .'
    '. picture text text text .'
    '. picture text text text .'
  ;
}

.info-mainpage>h1 {
  grid-area: title;
  justify-self: center;
  text-decoration: underline;
  font-size: 1.3em;
  padding: 1.5em;
  font-family: "DM Sans", sans-serif;
  font-weight: 800;
}

.info-container-img {
  display: grid;
  grid-area: picture;
  padding: 1em;
  margin: 1em;
}

.info-img {
  height: 150px;
  margin: 0.5em;
  align-self: center;
}

.info-container-text {
  display: grid;
  grid-area: text;
  padding: 0.7em;
  margin: 1em;
}

.info-maker-text {
  background-color: #693D40;
  padding: 1em;
  margin: 0.5em;
  align-self: center;
}

.info-maker-text>h1 {
  padding: 1em 0.2em;
  text-decoration: underline;
  font-family: "DM Sans", sans-serif;
  font-weight: 800;
}

.info-maker-text>p {
  padding: 1em 0.2em;
}

/* profile container */
.profile-container {
  max-width: 1050px;
  margin: auto;
  padding: 0 2rem 5rem;
}

/* avatars */
#avatar-section {
  margin: 0 auto;
  max-width: 900px;

  h2 {
    margin-bottom: 1.2rem;
    font-size: 1.6rem;
    font-family: 'DM Sans';
    font-weight: 800;
  }
}

.avatar-grid {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  max-width: 1280px;
  box-sizing: border-box;

  div {
    width: 50%;
    box-sizing: border-box;
  }

  .avatar-box {
    /* width: calc((100% - 2 * 1.5rem) / 3); */
    /* max-width: 280px; */
    padding: 32px 0;
    aspect-ratio: 1/1;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: #693D40;
    border-radius: 10px;
    position: relative;

    .avatar-slide {
      width: 192px;
      height: 192px;
      background-color: #8c7b60;
      border-radius: 100px;
      text-align: center;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        padding: .8rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .avatar-title {
        width: 100%;
        bottom: -40px;
        left: 50%;
        position: absolute;
        transform: translate(-50%);

      }
    }
  }

  .left-padding {
    padding: 0 0 0 36px;

    #username-form div {
      width: 82%;
    }
  }
}

.avatar-icon.material-symbols-outlined {
  border-radius: 50px;
  font-size: 30px;
}

.avatar-icon:hover {
  cursor: pointer;
}

.chevron {
  background-color: rgba(50, 50, 50, 0.8);
  top: 28%;
  position: absolute;
}

.chevron:nth-of-type(1) {
  left: 20px;
}

.chevron:nth-of-type(2) {
  right: 20px;
}

#color-settings {
  margin-top: 4px;
  width: 180px;
  padding: 0 12px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;

  label {
    width: 100%;
    font-size: .8em;
    text-align: center;
  }

  input[type="color"] {
    margin: 1px;
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    position: relative;
  }

  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  input[type="color"]::-webkit-color-swatch {
    border: none;
  }

  input[type="color"]:hover {
    cursor: pointer;
  }

  /* Pen icon on color picker */
  input[type="color"]::after {
    content: "\270E";
    color: var(--darker-red);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .bg-picker {
    margin: 1px;
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 0;
  }

  .cp-blue {
    background-color: #1d85d4;
  }

  .cp-green {
    background-color: #12a737;
  }

  .cp-pink {
    background-color: #cf219e;
  }

  .cp-yellow {
    background-color: #dfcb5a;
  }

  .cp-orange {
    background-color: #da7c10;
  }

  .cp-purple {
    background-color: #9a3cd4;
  }

  .cp-beige {
    background-color: #8c7b60;
  }

  .cp-gray {
    background-color: #888;
  }

  .cp-black {
    background-color: #1a1a1a;
  }
}

#setting-btns {
  margin: 18px 18px 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}

#confirmation-msg {
  margin-top: 18px;
  display: inline-block;
  width: 70%;
}

#forget-user-section {
  width: 80%;

  p {
    margin-bottom: 18px;
  }

  .green-btn {
    margin-right: 22px;
  }
}

@media (max-width: 800px) {
  .avatar-box {
    width: calc((100% - 1.5rem) / 2);
  }
}

@media (max-width: 480px) {
  .avatar-box {
    width: 100%;
  }
}

.avatar-box img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
  margin: auto;
}


/* scoreboard */

.scoreboard {
  margin: 4rem auto;
  background: #693D40;
  padding: 2rem;
  border-radius: 12px;
  max-width: 900px;
}

.scoreboard h2 {
  margin-bottom: 1.2rem;
  font-family: 'DM Sans';
  font-weight: 800;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
}

.score-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  grid-template-columns: 140px 1fr 60px;
}

.score-row > span:first-child {
  justify-self: end;
  padding-right: 0.5rem;
}

.score-row > span:last-child {
  justify-self: start;
  padding-left: 0.5rem;
}

.score-total {
  display: grid;
  grid-template-columns: 100px 1fr 40px;
  margin: 6px 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #1AFF8C;
}

.score-row .dots {
  border-bottom: 2px dotted currentColor;
  flex: 1 1 auto;
  height: 1px;
  margin: 0 3rem;
  height: 5px;
  opacity: .7;
  align-self: center;
}