@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500');

:root {
  --bright-green: #1AFF8C;
}

.green-btn {
    padding: 18px 22px;
    border-radius: 8px;
    background-color: var(--bright-green);
}

#username-container {
    display: none;
}